.cart-container{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding-top: 50px;
    flex-wrap: wrap;
}

.cart-count{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 8px;
}

.detalle-producto{
    background-color: rgb(227, 198, 242);
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 5px 0;
    padding-top: 50px;
    box-shadow: 4px 4px 4px #21212120;
    transition: 0.3s;
    gap: 15px;
    margin: 0px;
}

.imagen-detalle{
    width: 530px;
    height: 480px;
    margin: 5px 0;
    border: 10px solid;
    border-color: transparent;
    border-radius: 10px;
    object-fit: cover;
}

.contenedor-imagen{
    width: 730px;
    height: 480px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_producto{
    justify-content: center;
    align-items: center;
}

.nombre-producto-detalle {
    font-size: 44px;
    font-weight: bold;
}

.precio-producto-detalle {
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    padding-bottom: 20px;
}

.calificacion-producto {
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
}