/*Contenedor del footer*/
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7e57c2;
    color: white;
    padding: 1rem;
}
/*Fuente del div del contenedor*/
.footer-container div {
    font-weight: bold;
}
/*Interacción del texto de redes*/
.redes-links a {
    color: white;
    margin-left: 0.5rem;
    transition: color 0.2s ease-in-out;
}
/*Interacción del texto al activar el hover*/
.redes-links a:hover {
    color: #ccc;
}