.galeria {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding: 10px;
    max-width: 900px;
    margin: 1rem auto;
}

.imagen {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border: 2px solid;
    border-color: transparent;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
/*Cambiar de color del borde al hacer hover*/
.imagen:hover {
    border-color: #E2E8F0;
}

.galeria-imagen img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.galeria-titulo {
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.card-producto{
    background-color: rgb(227, 198, 242);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 5px 0;
    box-shadow: 4px 4px 4px #21212120;
    cursor: pointer;
    transition: 0.3s;
    gap: 15px;
}

.card-producto:hover{
    transform: scale(1.01);
    box-shadow: 0 0 15px 0 #21212170;
}

.imagen-producto{
    width: 230px;
    height: 180px;
    margin: 5px 0;
    border: 10px solid;
    border-color: transparent;
    border-radius: 10px;
}

.footer_producto{
    
    align-items: center;
    color: #3e1539;
    font-weight: 600;
    text-transform: capitalize;
    padding: 8px 8px;
    border-radius: 10px;
    width: 50%;
}

.titulo-inicio{
    display: flex;
    align-items: left;
    justify-content:flex-start;
    font-weight: bold;
}

.btn_carrito{
    background-color: #94246b8f;
    color:#f2f2f2;
    border-radius: 16px;
    padding: 12px;
    border: none;
    box-shadow: 4px 4px 16px #00000020; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    font-size: 16px;
    transition: 0.4s;
}

.btn_carrito > svg {
    fill: #f2f2f2;
}

.btn_carrito:hover {
    transform: scale(1.05);
    opacity: 0.9;
<<<<<<< HEAD
}
=======
}

.product-quantity {
    color: #4a384b;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    max-width: 20px;
    position: relative;
    left: 10px;
    font-weight: bold;
    font-size: 20px;
  }

  .btn_carrito_mas{
    background-color: #5cb85c;
    color:#f2f2f2;
    border-radius: 16px;
    padding: 12px;
    border: none;
    box-shadow: 4px 4px 16px #00000020; 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
    font-size: 16px;
    transition: 0.4s;
  }
  .btn_carrito_mas:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

  .btn_carrito_menos{
    background-color: #d9534f;
    color: #fff;
    border: none;
    font-size: 11px;
    cursor: pointer;
    border-radius: 16px;
    padding: 12px;
    gap: 5px;
    font-size: 16px;
    transition: 0.4s;
  }
  .btn_carrito_menos:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

  .boton_carrito{
    gap: 5px;
  }
>>>>>>> origin/Julian
