:root {
    --primary-color: #FFFFFF;
    --primary-color-dark: #1C1C1C;
    --secondary-color: #622870;
    --text-color-light: #333333;
    --text-color-dark: #FFFFFF;
}

.vendedor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* Ajusta el tamaño del contenedor al tamaño de la pantalla */
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.vendedor-container.dark {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
}

.vendedor-section {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.component-container {
    display: flex;
    justify-content: space-between;
}

.component {
    width: 50%;
    padding: 20px;
}

.mis-productos {
    /* Estilos para la sección de Mis productos */
}

.button-3d,
.button-like-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: var(--text-color-light);
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.button-3d:hover,
.button-like-link:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.button-3d:active,
.button-like-link:active {
    transform: translateY(0);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.button-3d.dark,
.button-like-link.dark {
    background-color: var(--primary-color-dark);
    color: var(--text-color-dark);
}