.modal-container{
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    place-items: center;
    transition: all 0.6s;
    z-index: 1;
}

.modal-body{
    background-color: #fff;
    width: 40%;
    min-width: 400px;
    border-radius: 10px;
    position: absolute;
    padding: 1rem;
    display: flex;
}

.imagen-container{
    display: grid;
    place-items: center;
}

.imagen-detalle{
    width: 300px;
    aspect-ratio: 8/10;
}

.tag{
    background-color: #26e;
    color: #2f2f2f;
    padding: 4px 6px;
    margin-right: 5px;
    border-radius: 5px;
    text-transform: capitalize;
}