/*Contenedor del footer*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(108, 53, 121);
    color: white;
    padding: 1rem;
}
/*Fuente del div del contenedor*/
.footer-container div {
    font-weight: bold;
}
/*Interacción del texto de redes*/
.redes-links a {
    color: white;
    margin-left: 0.5rem;
    transition: color 0.2s ease-in-out;
    font-family: 'Comfortaa', cursive;

}
/*Interacción del texto al activar el hover*/
.redes-links a:hover {
    color: #ccc;
}